/* All ROutes code  */

.active{
    color: blue;
}
/* Home Component css */



.middle-part {
    width: 100%;
    height: 450px;
    /* margin-top: -1%; */
    background-image: url('bg_porfolio.jpg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    background-clip: border-box;
}

.middle-part img {
    /* display: block; */
    width: 15%;
    height: 10%;
    border-radius: 50%;
    border: 1px solid rgb(246, 246, 240);
    margin-top: 30px;
    margin-left: 25%;
    background-color: transparent;
    /* opacity: 0.5; */


}

h1 {
    color: white;
}

.typing-Effect {
    white-space: pre-line;
    /* Preserve newlines */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin-left: 42%;
    margin-top: -15%;
    font-size: 11px;
}

/* RESUME CSS  */

.resume img{
    width: 70%;
    height: 70%;
}

.resume{
    margin-left: 23%;
    
}

/* Gallery Css  */

.mySwiper {
    width: 100%;
    height: 60%;
 background-color:white;
  }
 .mySwiper img{
    width:20%;
    height:20%;
    object-fit: cover;
    margin-left:40%;
 
 }
