h2{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: bold;
/* color: green; */
}

.connect{
    justify-content: center;
}
h2{
    color: yellow;
}

button{

    font-size: 25px;
}

.footer{
    position: fixed;

     background-color: #1e3a8a;
       bottom: 0;
    left: 0;  
     text-align: center;
    width: 100%;
 
}